{# templates/web/home.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
    <div class="body">
 

    <div class="blackbanner2">  
    <div class="container productoText">    
        <div class="row">
            <br>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                Nosotros <br>
                -------  <br>
                En EDCOM, siempre a la vanguardia de la<br>
                tecnología incorporando los sistemas de <br>
                información en el desarrollo e implementando<br>
                nevas metodologías oara la educación infantil,<br>
                nacen los proyectos sobre Multimedios<br>
                Prueba de nuestros juegos  y descubre cuáles <br>
                Interactivos Didácticos Infantiles.<br><br>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img class="" src="{{ asset('images/game/productos_ave.png') }}" />
            </div>
            <br>
        </div>        
    </div>
    </div>  
    
        
    <div class="container">    
        
       
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
                <h2>¿QUÉ ES EL MIDI?</h2>
                El Multimedia Interactivo Didáctico para la Educación 
                Básica Infantil es un proyecto educativo denominado “MIDI”, 
                el cual se está desarrollando como tema de tesis por los 
                alumnos de las carreras de Análisis de Sistemas y Diseño 
                Gráfico.

                Este proyecto ha contado con la valiosa colaboración tanto 
                económica como logística de una importante unidad de la ESPOL,
                el PROTCOM, como componente ejecutor de este Proyecto, 
                recibiendo equipos, instalaciones, software y material de 
                trabajo que han ayudado para la investigación, pre-producción, 
                producción y post producción de este proyecto.
            </div>
            <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
                <h2>¿QUÉ ES 4 AVENTURAS?</h2>
                Concientes de la deficiencia del sistema educativo de nuestro país, 
                en especial la etapa pre-escolar, y por ser ésta muy amplia e 
                importante en la educación inicial de todo niño, se vio la necesidad 
                de realizar una secuencia de aplicaciones, con el objetivo de cubrir 
                todos los temas relacionados con las ciencias básicas.
                
                La aplicación sirve de apoyo al maestro para complementar su enseñanza 
                y permite al niño a través de historias y juegos aprender de una manera 
                fácil y entretenida.
                
            </div>
            
            
        </div>        
           
        
    </div>
    
 
    <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script src="{{ asset('js/Demo.js') }}"></script>
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/funcion.js') }}"></script>
    <script src="{{ asset('js/jBox.js') }}"></script>
    <script src="{{ asset('js/jBox.min.js') }}"></script>
    <script src="{{ asset('js/jBox.Confirm.js') }}"></script>
    <script src="{{ asset('js/jBox.Confirm.min.js') }}"></script>
    <script src="{{ asset('js/jBox.Image.js') }}"></script>
    <script src="{{ asset('js/jBox.Image.min.js') }}"></script>
    <script src="{{ asset('js/jBox.Notice.js') }}"></script>
    <script src="{{ asset('js/jBox.Notice.min.js') }}"></script>
    



{% endblock %}

{% block javascripts %}
{% endblock %}
