{# templates/web/home.html.twig #}
{% extends 'base.html.twig' %}


{#{% block title %}Symfony - Welcome{% endblock %}#}


{% block body %}
     <div class="body">
        
        
    <div class="blackbanner">  
    <div class="container productoText">    
        <div class="row">
            <br>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                Juegos <br>
                -------  <br>
                Como parte de nuestra creciente cartera móvil, <br>
                ahora ofrecemos una amplia y creciente <br>
                selección de juegos gratuitos para jugar en <br>
                google play. <br>
                <br>
                Prueba de nuestros juegos  y descubre cuáles <br>
                se adaptan mejor a tus gustos! <br>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img class="logo-espol2" src="{{ asset('images/game/productos_logo_espol_banner.png') }}" />
                
                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img class="logo-googleplay" src="{{ asset('images/game/productos_logo_googleplay_banner.png') }}" />
                
                
            </div>
            <br>
        </div>        
    </div>
    </div>  
    
    
    
    <div class="container productoText"> 
    
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img class="ave" src="{{ asset('images/game/productos_ave.png') }}" />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textocentrado">
                Material escolar
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textocentrado">
                -----------------
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                <div class="meparrafo">
                En nuestra amplia gama de productos, ofrecemos diversidad de material 
                didáctico para los niños, que pueden ser usados en casa o escuela 
                Prueba nuestro material escolar y descubre cuales se adaptan mejor 
                a tu gusto. <br>
                </div>
            </div>
            
                <div class=" variosIconos">
                    <img class="iconoP" src="{{ asset('images/game/productos_ico1.png') }}" />
                
                
                    <img class="iconoP" src="{{ asset('images/game/productos_ico2.png') }}" />
                
                
                    <img class="iconoP" src="{{ asset('images/game/productos_ico3.png') }}" />
                           
                
                    <img class="iconoP" src="{{ asset('images/game/productos_ico4.png') }}" />
                </div>            
            
        </div>
    
    
    
    
    <br><br><br><br><br><br><br><br><br><br><br><br>
    
        
    </div>
    
    

    <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script src="{{ asset('js/Demo.js') }}"></script>
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/funcion.js') }}"></script>



{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('js/jquery-3.2.1.js') }}"></script>#}
    {#<script src="{{ asset('js/funcion.js') }}"></script>#}
{% endblock %}
